<label for="name">First Name</label><input name="name" id="name" class="" /><br/>
<label for="lastname">Last Name</label><input name="lastname" id="lastname" class="" /><br/>
<label for="address">Address</label><input name="address" id="address" class="" /><br/>
<label for="phone">Phone Number</label><input name="phone" id="phone" class="" /><br/>
<input type="submit" value="Create">
